<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dripdz - Contact</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="loading">
        <img src="assets/img/loading.gif" alt="" class="loading-img">
    </div>
    <video src="assets/video/video1.mov" autoplay="autoplay" loop muted playsinline></video>
    <div class="container">
        <header class="header">
            <img src="assets/img/logo.png" alt="dripz" class="logo" onclick="window.location.href='/home'">
            <div>
                <a href="/">Welcome</a>
                <a href="/home">Products</a>
                <a href="/contact">Contact</a>
            </div>
        </header>
        <div class="contact">
            <h1 class="text">WebSite by <a href="https://instagram.com/q2l_0">Achraf</a></h1>
            <h4 class="desc">For Contact =></h4>
            <div class="icon">
                <a href="https://instagram.com/q2l_0"><img src="assets/icon/instagram.svg" alt=""></a>
                <a href="https://tiktok.com/@axhraf_0"><img src="assets/icon/tiktok.svg" alt=""></a>
            </div>
        </div>
    </div>
    <script src="assets/index.js"></script>
    <script>
        window.addEventListener("load",() => {
            hiddeloading()
        })
    </script>
</body>
</html>